@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1E232C;
}

h1 {
  
  font-size: 60px;

  line-height: 25px;
}

.subtext {
  width: 420px;
  line-height: 25px;
  font-size: 18px;

}
.landing-text {
  color: white;
  text-align: left;
  padding-left: 10%;
  padding-top: 300px;
}

.landing-left img{
  position: absolute;
  width: 25%;
  left: 0px;
  top: 80px;
  margin-left: -20px;
}

.landing-right img{
  position: absolute;
  width: 61%;

	right: 0px;
	top: 80px;
	margin-left: -20px;
}